{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart__products__container">

    {% for item in cart.items %}
    <div class="cart__product">
        <p class="cart__product--title"><a class="cart__remove__button"
                href="/cart/change?line={{ forloop.index }}&amp;quantity=0">x</a> <a
                href="{{ item.url }}">{{ item.product.title }} <span
                    class="cart__product--color">({{ item.options_with_values[1].value }})</span></a>
            <!-- <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"> -->
        </p>
    
        <p>
            <!-- {{ item.options_with_values[0].name }}  -->
            {{ item.options_with_values[0].value }}</p>
    
        <p> €{{ item.line_price | money }}
            {% for discount in item.discounts %}{{ discount.title }}{% endfor %}</p>

            <div class="cart__quantity__container">
              <input type="number" class="cart__quantity__field" id="updates_{{ item.key }}" name="updates[]" value="{{ item.quantity }}" min="0" max="5">
              <button class="cart__quantitiy__button--minus js-button-quantity-cart" type="button">&ndash;</button>
              <span class="cart__quantitiy__button--text">{{ item.quantity }}</span>
              <button class="cart__quantitiy__button--plus js-button-quantity-cart" type="button">+</button>
            </div>
    
        <!-- <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0"> -->
    
    </div>
    {% endfor %}


    <div class="cart__buttons">
      <!-- <p>sub total : {{ cart.total_price | money }}</p> -->
      <div class="cart__buttons__container">
        <button class="cart__continueShopping" type="button">Weitershoppen</button>
        <button class="button__filled" type="submit" name="checkout">Bestellen</button>
      </div>
    </div>
  </form>
  {% else %}
  <div class="cart__empty">
    {{ 'theo_sad.png' | asset_url | img_tag: 'Theo Sad Cart Empty' }}
    <p>Dein Warenkorb ist leer :( </p>
  </div>

  <!-- <p>sub total : {{ cart.total_price | money }}</p> -->
  {% endif %} 