<!-- {% include 'shippingBanner' %} -->
<header id="header">
  {% include 'tickerRed' %}

  <nav id="navigation">

    <a href="/pages/about" class="link__text">{{ 'header.nav.about' | t }}</a>
    <a href="/pages/nachhaltigkeit" class="link__text">{{ 'header.nav.nachhaltigkeit' | t }}</a>
    <a href="/" id="link__logo">{{ 'rainbow-theo-final.png' | asset_url | img_tag: 'Logo' }}</a>
    <a href="/faq" class="link__text">{{ 'header.nav.faq' | t }}</a>
    <a href="/about" class="link__text">Login</a>
    <a href="/cart" class="link__cart">
      <div id="cart__amount"></div>
      <svg width="48" height="44" viewBox="0 0 48 44" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M37.96 8.06999H2.14998C1.72998 8.06999 1.41998 8.45999 1.51998 8.86999L6.73998 30.13C6.97998 31.09 7.83998 31.77 8.82998 31.77H30.45C31.44 31.77 32.31 31.09 32.54 30.13L39.45 1.97999C39.52 1.68999 39.78 1.48999 40.08 1.48999H46.19"
          stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M29.53 42C30.8389 42 31.9 40.9389 31.9 39.63C31.9 38.3211 30.8389 37.26 29.53 37.26C28.2211 37.26 27.16 38.3211 27.16 39.63C27.16 40.9389 28.2211 42 29.53 42Z"
          stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" />
        <path
          d="M8.96998 42C10.2789 42 11.34 40.9389 11.34 39.63C11.34 38.3211 10.2789 37.26 8.96998 37.26C7.66106 37.26 6.59998 38.3211 6.59998 39.63C6.59998 40.9389 7.66106 42 8.96998 42Z"
          stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" />
        <path d="M9.19 16.5H29.19" stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M11.19 23.5H27.19" stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </a>
    <a href="" class="link__burger">
      <svg width="35" height="23" viewBox="0 0 35 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line y1="1.5" x2="35" y2="1.5" stroke="#E6332A" stroke-width="3"/>
        <line y1="11.5" x2="35" y2="11.5" stroke="#E6332A" stroke-width="3"/>
        <line y1="21.5" x2="35" y2="21.5" stroke="#E6332A" stroke-width="3"/>
        </svg>        
    </a>
 

    <!-- {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out'  | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
    {% endif %}
    {% endif %} -->

  </nav> 




</header>

<!-- TODO: 
LOGIN/ACCOUNT/REGISTER
LOGO CHANGE -->