<header id="header">
  <!-- {% include 'shippingBanner' %} -->
  {% include 'tickerRed' %}
<div id="star">
  <p id="star__text">Hier kommt der Text hin.</p>
  <svg id="star__svg" width="313" height="313" viewBox="0 0 313 313" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M115.584 40.82L160.251 82.9932L209.228 45.9123L210.991 107.318L271.843 115.729L229.67 160.396L266.751 209.373L205.345 211.136L196.934 271.988L152.267 229.815L103.29 266.896L101.527 205.49L40.6749 197.079L82.8481 152.412L45.7672 103.435L107.172 101.672L115.584 40.82Z" fill="#C9DADF"/>
    </svg>
</div>
  <nav id="navigation">

    <a href="/pages/about" class="link__text">{{ 'header.nav.about' | t }}</a>
    <a href="/pages/nachhaltigkeit" class="link__text">{{ 'header.nav.nachhaltigkeit' | t }}</a>
    <a href="/" id="link__logo">{{ 'rainbow-theo-final.png' | asset_url | img_tag: 'Logo' }}</a>
    <a href="/pages/faq" class="link__text">{{ 'header.nav.faq' | t }}</a>
    <a href="/account/" class="link__text">Account</a>
    <a href="/cart" class="link__cart">
      <div id="cart__amount"></div>
      <svg width="40" height="36" viewBox="0 0 48 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M37.96 8.06999H2.14998C1.72998 8.06999 1.41998 8.45999 1.51998 8.86999L6.73998 30.13C6.97998 31.09 7.83998 31.77 8.82998 31.77H30.45C31.44 31.77 32.31 31.09 32.54 30.13L39.45 1.97999C39.52 1.68999 39.78 1.48999 40.08 1.48999H46.19"
          stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M29.53 42C30.8389 42 31.9 40.9389 31.9 39.63C31.9 38.3211 30.8389 37.26 29.53 37.26C28.2211 37.26 27.16 38.3211 27.16 39.63C27.16 40.9389 28.2211 42 29.53 42Z"
          stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" />
        <path
          d="M8.96998 42C10.2789 42 11.34 40.9389 11.34 39.63C11.34 38.3211 10.2789 37.26 8.96998 37.26C7.66106 37.26 6.59998 38.3211 6.59998 39.63C6.59998 40.9389 7.66106 42 8.96998 42Z"
          stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" />
        <path d="M9.19 16.5H29.19" stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M11.19 23.5H27.19" stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </a>

    <div id="navigation__icons">
      <a href="" class="link__burger">
        <svg width="35" height="23" viewBox="0 0 35 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="1.5" y1="1.5" x2="33.5" y2="1.5" stroke="#E6332A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
          <line x1="1.5" y1="11.5" x2="33.5" y2="11.5" stroke="#E6332A" stroke-width="3" stroke-linecap="round"/>
          <line x1="1.5" y1="21.5" x2="33.5" y2="21.5" stroke="#E6332A" stroke-width="3" stroke-linecap="round"/>
          </svg>      
      </a>

      <a href="/cart" class="link__cart--mobile">

        <svg width="43" height="39" viewBox="0 0 48 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M37.96 8.06999H2.14998C1.72998 8.06999 1.41998 8.45999 1.51998 8.86999L6.73998 30.13C6.97998 31.09 7.83998 31.77 8.82998 31.77H30.45C31.44 31.77 32.31 31.09 32.54 30.13L39.45 1.97999C39.52 1.68999 39.78 1.48999 40.08 1.48999H46.19"
            stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M29.53 42C30.8389 42 31.9 40.9389 31.9 39.63C31.9 38.3211 30.8389 37.26 29.53 37.26C28.2211 37.26 27.16 38.3211 27.16 39.63C27.16 40.9389 28.2211 42 29.53 42Z"
            stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" />
          <path
            d="M8.96998 42C10.2789 42 11.34 40.9389 11.34 39.63C11.34 38.3211 10.2789 37.26 8.96998 37.26C7.66106 37.26 6.59998 38.3211 6.59998 39.63C6.59998 40.9389 7.66106 42 8.96998 42Z"
            stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" />
          <path d="M9.19 16.5H29.19" stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M11.19 23.5H27.19" stroke="#E6332A" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
    </div>
  </nav>
</header>

<header id="header--mobile">

  <nav id="navigation__header--mobile">
    <a href="/" id="link__logo--mobile">{{ 'rainbow-theo-final.png' | asset_url | img_tag: 'Logo' }}</a>

    <div>
      <a href="" id="link__burger--mobile">
        <svg width="40" height="43" viewBox="0 0 46 49" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="2.12132" y1="3" x2="43" y2="43.8787" stroke="#E6332A" stroke-width="3" stroke-linecap="round"/>
          <line x1="43" y1="5.12132" x2="2.12132" y2="46" stroke="#E6332A" stroke-width="3" stroke-linecap="round"/>
          </svg>
        
      </a>
    </div>
  </nav>

  <nav id="navigation--mobile">

    <a href="/pages/about" class="link__text--mobile">{{ 'header.nav.about' | t }}</a>
    <a href="/pages/nachhaltigkeit" class="link__text--mobile">{{ 'header.nav.nachhaltigkeit' | t }}</a>

    <a href="/pages/faq" class="link__text">{{ 'header.nav.faq' | t }}</a>
    <a href="/account" class="link__text">Account</a>


  </nav>

  <nav id="navigation__footer--mobile">

    <div id="navigation__footer--mobile--icons">
      <a href="https://www.instagram.com/catchingtheo" target="blank" class="link__text--mobile">Instagram</a>
      <a href="http://www.tiktok.com/@theocarow" target="blank" class="link__text--mobile">Tik Tok</a>
    </div>

    <div id="navigation__footer--mobile--impressum">
      <a href="/pages/impressum-datenschutz" class="link__text">AGB</a>
      <a href="/pages/impressum-datenschutz" class="link__text">Impressum</a>
    </div>
  </nav>

</header>