<!doctype html>
<html>

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@800&display=swap" rel="stylesheet">

    {{ 'application.scss.css' | asset_url | stylesheet_tag }}
    {{ 'bodymovin.js' | asset_url | script_tag }}
</head>

<body id="impressum-body">
    <main class="impressum-page">
        {{content_for_layout}}
    </main>
</body>
{{ 'application.js' | asset_url | script_tag }}
</html> 