<div id="cart">
  <div id="cart__headline">
    <h1>Your <span class="h1__filled">Cart</span></h1>
    <div id="cart__close">
      <svg width="45" height="47" viewBox="0 0 45 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.707107" y1="1.29289" x2="43.7071" y2="44.2929" stroke="#EFE7DE" stroke-width="2" />
        <line x1="43.7071" y1="2.70711" x2="0.707107" y2="45.7071" stroke="#EFE7DE" stroke-width="2" />
      </svg>
    </div>

  </div>
  {% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate>

    {% for item in cart.items %}
    <div class="cart__product">
      <p class="cart__product--title"><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">x</a> <a
          href="{{ item.url }}">{{ item.product.title }} <span
            class="cart__product--color">({{ item.options_with_values[1].value }})</span></a>
        <!-- <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"> -->
      </p>

      <p>
        <!-- {{ item.options_with_values[0].name }}  -->
        {{ item.options_with_values[0].value }}</p>

      <p> €{{ item.line_price | money }}
        {% for discount in item.discounts %}{{ discount.title }}{% endfor %}</p>

      <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">

    </div>
    {% endfor %}


    <div id="cart__buttons">
      <!-- <p>sub total : {{ cart.total_price | money }}</p> -->
      <div id="cart__buttons__container">
        <button type="submit" name="update">Update</button>
        <button class="button__filled" type="submit" name="checkout">ORDER NOW</button>
      </div>
    </div>
  </form>
  {% else %}
<div id="cart__empty">
  {{ 'theo_sad.png' | asset_url | img_tag: 'Theo Sad Cart Empty' }}
  <p>Dein Warenkorb ist leer :( </p>
 </div>
 
  <!-- <p>sub total : {{ cart.total_price | money }}</p> -->
  {% endif %}
</div>