<section id="sustain">
    <h1><span class="h1__filled">{{ page.metafields.global.1_headline }}
    </span><br>{{ page.metafields.global.1_headline }}</h1>
    <div class="sustain__text--container">
        <div class="sustain__img--container">

            {{ 'theo-wow.png' | asset_url | img_tag: 'Wow Theo' }}
            <button class="cta about__collection--button">Jetzt 
                einkaufen</button>
        </div>
        <div class="sustain__text">
            <p>{{ page.metafields.global.1_text_1 }}</p>
            <p>{{ page.metafields.global.1_text_2 }}</p>
            <p>{{ page.metafields.global.1_text_3 }}</p>
        </div>
    </div>
</section>

<section id="production">
    <div class="production--headline">
       <h1>{{ page.metafields.global.2_headline }}</h1>
       <p>Etwas über die Produktion...</p>
       <!-- <p>{{ page.metafields.global.2_text_1 }}</p> -->
    </div>
    <div class="production--images">
        {{ 'produktion_1.jpg' | asset_url | img_tag: 'Produktion' }}
        {{ 'produktion_2.jpg' | asset_url | img_tag: 'Produktion' }}
    </div>
</section>
{% include 'tickerPurple' %}
{% include 'instagram' %}